body{
  margin:0;
  padding:0;
  overflow-x:hidden;
  background-color: #f2f8fe;
}



p{
  margin: 0;
  padding:0;
}


h2{
    margin:0;
    border:none;
    border-bottom:1px solid black;
    padding:auto;
}

.raizyou{
    margin:10px;
    border:2px solid #d2e5fd;
    padding:10px;
}

a{
  color:blue;
  font-size: 1rem;
}
